---
layout: default
title: わくわく！する旅をご紹介
url: /
---
<div class="home-wrap">
  <h2>Recent Articles</h2>
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        {% for post in site.posts limit:6 %}
        <div class="col-xs-12 col-sm-4 article-cards">
          <span class="meta date">{{ post.date | date_to_string }}</span>
          <a href="{{ post.url | prepend: site.base_path }}" class="article-cards__link" style="background-image: url({{ post.thumbnail | prepend: site.base_path }})"></a>
          <a class='article-cards__title' href="{{ post.url | prepend: site.base_path }}">{{ post.title }}</a>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-3">
      {% for post in site.posts limit:4 offset: 6%}
      <hr>
      <a class="article-cards__title" href="{{ post.url | prepend: site.base_path }}">{{ post.title }}</a>
      <br>
      <a class="meta" href='{{ site.url }}/categories/{{ post.categories }}.html'>{{ post.categories | slug2name }} </a>
      {% endfor %}
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-xs-12 col-sm-6 mt30">
      <h3><a href="{{ site.base_path }}/categories/japan">国内旅行</h3>
      <div class="row">
        {% for post in site.categories.japan limit:2 %}
        <div class="col-xs-12 col-sm-6 article-cards-two">
          <span class="meta date">{{ post.date | date_to_string }}</span>
          <a href="{{ post.url | prepend: site.base_path }}" class="article-cards__link" style="background-image: url({{ post.thumbnail | prepend: site.base_path }})"></a>
          <a class='article-cards__title' href="{{ post.url | prepend: site.base_path }}">{{ post.title }}</a>
        </div>
        {% endfor %}
      </div>
      <hr class="mt30">
      <div class="row">
        {% for post in site.categories.japan limit:4 offset:2 %}
        <div class="col-xs-12 col-sm-6">
          <a class='article-cards__title' href="{{ post.url | prepend: site.base_path }}">{{ post.title }}</a>
          <span class="meta date">{{ post.date | date_to_string }}</span>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 mt30">
      <h3><a href="{{ site.base_path }}/categories/abroad">海外旅行</h3>
      <div class="row">
        {% for post in site.categories.abroad limit:2 %}
        <div class="col-xs-12 col-sm-6 article-cards-two">
          <span class="meta date">{{ post.date | date_to_string }}</span>
          <a href="{{ post.url | prepend: site.base_path }}" class="article-cards__link" style="background-image: url({{ post.thumbnail | prepend: site.base_path }})"></a>
          <a class='article-cards__title' href="{{ post.url | prepend: site.base_path }}">{{ post.title }}</a>
        </div>
        {% endfor %}
      </div>
      <hr class="mt30">
      <div class="row">
        {% for post in site.categories.abroad limit:4 offset:2 %}
        <div class="col-xs-12 col-sm-6">
          <a class='article-cards__title' href="{{ post.url | prepend: site.base_path }}">{{ post.title }}</a>
          <span class="meta date">{{ post.date | date_to_string }}</span>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
