// Tools
@import "0-tools/normalize";
@import "0-tools/fonts";
a {
  &:hover {
    text-decoration: none;
  }
}

hr {
  width: 90%;
  margin: 10px auto;
}

// Base
@import "1-base/base.sass";

// Modules
@import "2-modules/header.sass";
@import "2-modules/sidebar.sass";
@import "2-modules/footer.sass";
@import "2-modules/authorBlock.sass";

//Layouts
@import "4-layouts/home.sass";
@import "4-layouts/post.sass";
@import "4-layouts/page.sass";

.article-cards {
  transition: 350ms ease-in-out;
  margin-bottom: 20px;
  height: 200px;
  @media (max-width: 786px) {
    height: 240px;
  }
  @media (max-width: 576px) {
    height: 280px;
  }
  &-two {
    height: 200px;
    @media (max-width: 786px) {
      height: 180px;
    }
    @media (max-width: 576px) {
      height: 280px;
    }
  }
  &__link {
    margin-top: 2%;
    display: block;
    width: 100%;
    height: 75%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &:hover {
    border-radius: 2px;
    cursor: pointer;
  }
  &__title {
    display: block;
    height: 20%;
    margin-top: 2%;
    font-size: 16px;
    line-height: 18px;
  }
}


$margin-base: 5;
$padding-base: 5;

@for $i from 1 through 12 {
  .mt#{$i * $margin-base} {
    margin-top: #{$i * $margin-base}px !important;
  }
  .mb#{$i * $margin-base} {
    margin-bottom: #{$i * $margin-base}px !important;
  }
  .mr#{$i * $margin-base} {
    margin-right: #{$i * $margin-base}px !important;
  }
  .ml#{$i * $margin-base} {
    margin-left: #{$i * $margin-base}px !important;
  }
  .m#{$i * $margin-base} {
    margin: #{$i * $margin-base}px !important;
  }
  .pt#{$i * $padding-base} {
    padding-top: #{$i * $padding-base}px !important;
  }
  .pb#{$i * $padding-base} {
    padding-bottom: #{$i * $padding-base}px !important;
  }
  .pr#{$i * $padding-base} {
    padding-right: #{$i * $padding-base}px !important;
  }
  .pl#{$i * $padding-base} {
    padding-left: #{$i * $padding-base}px !important;
  }
  .p#{$i * $padding-base} {
    padding: #{$i * $padding-base}px !important;
  }
}

.fs16 {
  font-size: 16px;
}

.w320 {
  width: 320px;
}

.ta-c {
  text-align: center;
}

.m-a {
  margin: 0 auto;
}

.w100p {
  width: 100%;
}

.post {
  img {
    display: block;
    width: 100%;
    margin: 30px auto;
  }
}

.fb_iframe_widget > span {
  vertical-align: baseline !important;
}
.twitter-tweet-button {
  margin-right: 5px;
}
.line-it-button {
  margin-right: 5px;
}
